  <md-content ng-init="init()"flex layout-padding>
      <md-card>
        
        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span>{{'ORDER_PAGE' | translate}}</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="addItem($event)">
              <md-icon>playlist_add</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="refresh()">
              <md-icon>refresh</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        
        <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span flex>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
            <md-button class="md-icon-button" ng-click="delete($event)">
              <md-icon>delete</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="removeFilter()">
              <md-icon>close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        
        <md-table-container>
          <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row>
                <th md-column md-order-by="id"><span>{{'ORDER_ID' | translate}}</span></th>
                <th md-column md-order-by="name"><span>{{'ORDER_ASSIGNEE_NAME' | translate}}</span></th>
                <th md-column md-order-by="address"><span>{{'ORDER_CUSTOMER_NAME' | translate}}</span></th>
                <th md-column md-order-by="phone"><span>{{'ORDER_NAME' | translate}}</span></th>
                <th md-column md-order-by="contract_id"><span>{{'ORDER_CONTRACT_ID' | translate}}</span></th>
                <th md-column md-order-by="signed_at"><span>{{'ORDER_SIGNED_AT' | translate}}</span></th>
                <th md-column md-order-by="delivered_date"><span>{{'ORDER_DELIVERED_DATE' | translate}}</span></th>
                <th md-column md-order-by="status"><span>{{'ORDER_STATUS' | translate}}</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="order" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="customer.calories.value > 400" ng-repeat="order in orders">
                <td md-cell>{{order.id}}</td>
                <td md-cell>{{order.assigneeName}}</td>
                <td md-cell>{{order.customerName}}</td>
                <td md-cell>{{order.name}}</td>
                <td md-cell>{{order.contractId}}</td>
                <td md-cell>{{order.signedAt | date : "dd/MM/y"}}</td>
                <td md-cell>{{order.deliveredDate | date : "dd/MM/y"}}</td>
                <td md-cell>{{helpers.getFriendlyNameOfOrderStatus(order.status) | translate}}</td>
                <td md-cell>
                   <md-button class="md-icon-button" ng-click="viewOrder()">
                     <md-icon>pageview</md-icon>
                   </md-button>
                   <md-button class="md-icon-button" ng-click="editOrder(order.id)">
                     <md-icon>create</md-icon>
                   </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{orders.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
      </md-card>
    
  </md-content>