  <div layout="row" layout-align="center center" style="min-height: 70%">
  
    <div layout="column" class="loginBox md-whiteframe-z1" flex="30">
      <md-toolbar>
        <h2 class="md-toolbar-tools"><span>{{ 'PERSONAL_INFO' | translate }}</span></h2>
      </md-toolbar>
      <md-content layout-padding>
        <md-card ng-if="error" md-colors="{color:'warn'}">
          {{message}}
        </md-card>
        <md-input-container style="margin: 18px 0 0;">
          <label>{{ 'PERSONAL_FIRST_NAME' | translate }}</label>
          <input ng-model="firstname" required disabled>
        </md-input-container>
        <md-input-container style="margin: 18px 0 0;">
          <label>{{ 'PERSONAL_LAST_NAME' | translate }}</label>
          <input ng-model="lastname" required disabled>
        </md-input-container>
        <md-input-container style="margin: 18px 0 0;">
          <label>{{ 'PERSONAL_EMAIL' | translate }}</label>
          <input ng-model="email" required disabled>
        </md-input-container>
        <md-input-container style="margin: 18px 0 0;">
          <label>{{ 'PERSONAL_PHONE' | translate }}</label>
          <input ng-model="phone" required disabled>
        </md-input-container>
        <md-input-container style="margin: 18px 0 0;">
          <label>{{ 'PERSONAL_ADDRESS' | translate }}</label>
          <input ng-model="address" required disabled>
        </md-input-container>
      </md-content>
    </div>
</div>